<mat-toolbar color="primary" class="mat-elevation-z5">
  <span><mat-icon aria-hidden="false">stars</mat-icon>My Application</span>
<div class="spacer"></div>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button routerLink="/about">About Us</a>
  <a mat-button routerLink="/profile">Profile</a>
  <a mat-button routerLink="/production">Production</a>
  <a mat-button routerLink="/services">Services</a>
  <a mat-button routerLink="/contact">Contact Us</a>
  <a mat-button routerLink="/sign">Sign Up </a>
  <a mat-button routerLink="/login">Login us</a>


</mat-toolbar>
